import React from 'react';
import {
//   simpleRestClient,
  Admin,
  Resource,
  Delete
} from 'admin-on-rest';
import {
  // authClient,
  restClient
} from 'aor-feathers-client';
import { getBaseUrl, client as feathersClient }  from './feathersClient';

{{#each tables~}}
import {
  {{ name.singular.camel }}List,
  {{ name.singular.camel }}Create,
  {{ name.singular.camel }}Edit
} from './resources/{{ name.singular.kebab }}';
{{/each~}}

const options = { id: 'id' };

// const authClientOptions = {
//   storageKey: 'feathers-jwt',
//   authenticate: { strategy: 'local' },
// };

const authenticate = () => Promise.resolve({});
// feathersClient.authenticate = authenticate;

class App extends React.Component {

  constructor() {
    super();
    this.state = {
      baseUrl: null
    }
  }

  componentDidMount() {
    const self = this;
    getBaseUrl()
     .then(baseUrl => {
       self.setState({baseUrl: baseUrl});
     });
    {{!-- feathersClient()
    .then(function(data) {
      self.setState({client: data});
    }); --}}
  }

  render() {
    if (this.state.baseUrl) {
      const client = feathersClient(true, this.state.baseUrl);
      client.authenticate = authenticate;
      return (
        <Admin
          title="{{ name.singular.raw }}"
          restClient={restClient(client, options)}
        >
          {{#each tables}}
          <Resource
            name="{{ name.singular.camel }}"
            list={ {{ name.singular.camel }}List }
            create={ {{ name.singular.camel }}Create }
            edit={ {{ name.singular.camel }}Edit }
            remove={ Delete } />
          {{/each}}
        </Admin>
      );
    }
    return <p>Loading...</p>;
  }
}

export default App;
