// in src/posts.js
import React from 'react';
import {
  Create,
  Edit,
  SimpleForm,
  DisabledInput,
  NumberInput,
  TextInput,
  LongTextInput,
  BooleanField,
  Datagrid,
  List,
  NumberField,
  BooleanInput,
  TextField,
  DeleteButton,
  EditButton
} from 'admin-on-rest';

export const {{ name.singular.camel }}Create = (props) => (
  <Create {...props}>
    <SimpleForm>
      {{#each fields }}
      <{{ inputType }} source="{{ name.singular.camel }}" />
      {{/each}}
    </SimpleForm>
  </Create>
);

export const {{ name.singular.camel }}Edit = (props) => (
  <Edit title={'Edit {{ name.singular.camel }} '} {...props}>
    <SimpleForm>
      <DisabledInput label="Id" source="id" />
      {{#each fields}}
      <{{ inputType }} source="{{ name.singular.camel }}" />
      {{/each}}
    </SimpleForm>
  </Edit>
);

export const {{ name.singular.camel }}List = (props) => (
  <List {...props}>
    <Datagrid>
      {{#each fields}}
      <{{ fieldType }} source="{{ name.singular.camel }}" />
      {{/each}}
      <EditButton />
      <DeleteButton />
    </Datagrid>
  </List>
);
