
{{#each tables~}}
{{!-- this is mimicking generator-feathers which uses kebab case. --}}
const {{ name.propObj }} = require('./{{ name.singular.kebab }}/{{ name.singular.kebab }}.service.js');
{{/each~}}

module.exports = function (app) {
  {{#each tables}}
  app.configure({{ name.propObj }});
  {{/each}}
};
